<Configuration>
    <Server
        maxThreads="20"
        port="1080"/>
    <Pipeline name="DICOM De-identification to Local Storage">
        <DirectoryImportService
            name="DirectoryImportService"
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            root="roots/DirectoryImportService"
            import="import-directory"
            interval="20000"
            acceptDicomObjects="yes"
            acceptXmlObjects="yes"
            acceptZipObjects="yes"
            acceptFileObjects="yes" 
            quarantine="quarantines/DirectoryImportService"/>
        <DicomImportService
            class="org.rsna.ctp.stdstages.DicomImportService"
            logConnections="no"
            name="DicomImportService"
            port="104"
            quarantine="quarantines/DicomImportService"
            root="roots/DicomImportService"/>
        <DicomDecompressor
            class="org.rsna.ctp.stdstages.DicomDecompressor"
            name="DicomDecompressor"
            quarantine="quarantines/DicomDecompressor"
            root="roots/DicomDecompressor"
            script="scripts/DicomDecompressor.script"/>
        <DicomPixelAnonymizer
            class="org.rsna.ctp.stdstages.DicomPixelAnonymizer"
            name="DicomPixelAnonymizer"
            quarantine="quarantines/DicomPixelAnonymizer"
            root="roots/DicomPixelAnonymizer"
            script="scripts/DicomPixelAnonymizer.script"/>
        <IDMap
            class="org.rsna.ctp.stdstages.IDMap"
            name="IDMap"
            root="roots/IDMap"/>
        <DicomAnonymizer
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            lookupTable="scripts/LookupTable.properties"
            name="DicomAnonymizer"
            quarantine="quarantines/DicomAnonymizer"
            root="roots/DicomAnonymizer"
            script="scripts/DicomServiceAnonymizer.script"/>
        <FileStorageService
            class="org.rsna.ctp.stdstages.FileStorageService"
            fsNameTag="00080050"
            name="FileStorageService"
            quarantine="quarantines/FileStorageService"
            returnStoredFile="no"
            root="roots/FileStorageService"/>
    </Pipeline>
</Configuration>
